<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Editar Anotação</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header class="header">
  <img src="{{ url_for('static', filename='img/logo.svg') }}" width="30">

  <ul class="main-list">
    <li>
      <img src="{{ url_for('static', filename='img/login.svg') }}" width="20">
    </li>
  </ul>
</header>

<main>

<h1 class="main__title">Editar Anotação</h1>

<div class="page-center">

<div class="edit-card">

<form action="/update/{{ card.id }}" method="POST" class="edit-form">

<input
type="text"
name="title"
value="{{ card.title }}"
placeholder="Título"
required
>

<input
type="text"
name="subtitle"
value="{{ card.subtitle }}"
placeholder="Subtítulo"
required
>

<textarea
name="text"
placeholder="Escreva sua anotação..."
required
>{{ card.text }}</textarea>

<button type="submit">Salvar alterações</button>

</form>

</div>

</div>

</main>

</body>
</html>