body {
    font-family: Arial,  sans-serif; /* Font family */
    font-size: 11px; /* O tamanho da fonte principal<p></p> tag  */
    background-color: #5988FF; /* A cor do plano de fundo da página */
    color: #000000; /* A cor do texto */ 
}
h1 {
    color: #ff6161; /* A cor do cabeçalho */
    font-size: 24px; /* A cor da fonte do cabeçalho */
    font-family: Georgia, serif; /* A font usada no cabeçalho*/
}